<div class="row m-0">
  <div class="col-4">
    <img src="../../../assets/logo.png" width="400px" class="m-3">
  </div>

  <div class="col-5">
    <div class="rounded-circle bg-dark p-2 text-center text-light border border-light w-50 mx-auto mt-5">
      <h1>Gestion Projet</h1>
    </div>
  </div>

  <div class="input-group col-2 mb-5 mt-5 ml-5 pt-3 pl-0">
    <input type="text" class="form-control" placeholder="Rechercher" [(ngModel)]="search" (ngModelChange)="onSearch()">
    <div class="input-group-append">
      <button class="btn btn-success" type="button" (click)="onSearch()">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
</div>


<section class="row m-5">
  <div class="col-2 bg-light border border-success mr-5 section text-center text-dark pt-2">
<!--    <div class="rounded-circle bg-dark p-2 text-light">-->
<!--      <h3>Gestion Projet</h3>-->
<!--    </div>-->
    <div>
      <div class="mx-auto w-50 text-light rounded-circle bg-dark border border-light p-4 m-3 mb-1" [routerLink]="['/client']">
        <h1>
          <i class="fas fa-user"></i>
        </h1>
      </div>
      <div>
        <h5>Gestion Client</h5>
      </div>
    </div>
    <div *ngIf="projet !== null" class="pt-5">
      <p>{{projet.label}}</p>
      <p>{{projet.client.nom}} {{projet.client.prenom}}</p>
      <p>{{projet.created_at}}</p>
      <button class="btn btn-dark" [routerLink]="['/projet/'+projet.id]">Ouvrir le projet</button>
    </div>
  </div>

  <div data-simplebar data-simplebar-auto-hide="false" class="col-9 border border-light ml-5 section">
    <div class="row m-3" >
      <div class="text-light text-center col-2">
        <div class="rounded-circle bg-dark border border-light p-4 m-3 mb-1" (click)="createProjet()">
          <h1>
            <i class="fas fa-plus ml-2 mr-2"></i>
          </h1>
        </div>
        <div>
          <h5>Ajouter</h5>
        </div>
      </div>

      <div *ngFor="let projet of searchProjets" class="text-light col-2">
        <div class="rounded-circle border border-light etat" [ngStyle]="{'background-color' : colors[projet.etat]}">

        </div>
        <div class="rounded-circle bg-dark text-light border border-light text-center p-4 m-3 mb-1" (click)="selectProjet(projet)">
          <h1>
            <i class="fas fa-folder-open"></i>
          </h1>
        </div>
        <div class="text-center">
          <h5>{{projet.label}}</h5>
        </div>
      </div>
    </div>
  </div>
</section>

