<div class="container-fluid mx-0">
  <div class="row m-0">
    <div class="col-12">
      <img src="../../../assets/logo.png" width="400px" class="m-3" [routerLink]="['/projet']">
    </div>
  </div>

  <div class="row mb-3">

    <div class="col-2 offset-3">
      <a [routerLink]="['/client']">
        <div class="rounded-pill bg-dark border border-light text-light text-center mx-2">
          <h3 class="mb-0 pb-1">Clients</h3>
        </div>
      </a>
    </div>

    <div class="col-2">
      <div class="rounded-pill bg-success border border-light text-light text-center mx-2">
        <h3 class="mb-0 pb-1">Projets</h3>
      </div>
    </div>

    <div class="col-2">
      <a [routerLink]="['/configuration']">
        <div class="rounded-pill bg-dark border border-light text-light text-center mx-2">
          <h3 class="mb-0 pb-1">Configurations</h3>
        </div>
      </a>
    </div>

    <div class="col-3">
      <input type="text" class="form-control search-field w-75 rounded-pill" placeholder="Rechercher" [(ngModel)]="search" (ngModelChange)="onSearch()">
    </div>
  </div>


  <section class="row mx-5">
    <div class="col-2 bg-light border border-success mr-5 section text-center text-dark pt-2">
      <div *ngIf="currentProjet !== null" class="pt-5">
        <p>{{currentProjet.label}}</p>
<!--        <p>{{currentProjet.client.nom}} {{projet.client.prenom}}</p>-->
        <p>{{currentProjet.created_at}}</p>
        <button class="btn btn-dark" [routerLink]="['/projet/'+currentProjet.id]">Ouvrir le projet</button>
      </div>
    </div>

    <div data-simplebar data-simplebar-auto-hide="false" class="col-9 border border-light ml-5 section">
      <div class="row m-3" >
        <div class="text-light text-center col-2">
          <div class="rounded-circle bg-dark border border-light p-4 m-3 mb-1" (click)="createProjet(content)">
            <h1>
              <i class="fas fa-plus ml-2 mr-2"></i>
            </h1>
          </div>
          <div>
            <h5>Ajouter</h5>
          </div>
        </div>

        <div *ngFor="let projet of searchProjets" class="text-light col-2">
          <div class="rounded-circle border border-light etat" [ngStyle]="{'background-color' : colors[projet.statut]}">

          </div>
          <div class="rounded-circle bg-dark text-light border border-light text-center p-4 m-3 mb-1" (click)="selectProjet(projet)" (dblclick)="openProjet('/projet/'+projet.id)">
            <h1>
              <i class="fas fa-folder-open"></i>
            </h1>
          </div>
          <div class="text-center">
            <h5>{{projet.label}}</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

<ng-template #content let-modal>
  <div class="modal-body modalForm">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <form class="mt-2">
      <h3 class="text-center text-dark mt-2">Nouveau projet</h3>
      <div class="form-group text-center">
        <label for="Label">Label :</label>
        <input [(ngModel)]="currentProjet.label" name="label" type="text" class="form-control w-75 mx-auto rounded shadow" id="Label" placeholder="Label" >
      </div>
      <div class="form-group text-center">
        <label for="Client">Client :</label>
        <select [(ngModel)]="currentProjet.client_id" name="client" class="form-control w-75 mx-auto rounded shadow"  id="Client">
          <option *ngFor="let client of clients" [ngValue]="client.id">{{client.prenom}} {{client.nom}}</option>
        </select>
      </div>
      <div class=" w-25 mx-auto">
        <button class="btn btn-secondary w-100" (click)="setProjet(modal)">Valider</button>
      </div>
    </form>
  </div>
</ng-template>
