<div class="text-center mt-5 mb-5">
  <img src="../../../assets/logo.png" width="400px">
</div>

<div class="w-25 mx-auto text-center p-3 mt-5 text-light divformulaire shadow">
  <form class="formulaire">
    <div class="form-group">
      <label for="identifiant">Identifiant :</label>
      <input type="text" class="form-control w-75 mx-auto rounded shadow" id="identifiant" placeholder="Identifiant">
    </div>
    <div class="form-group">
      <label for="password">Mot de passe :</label>
      <input type="password" class="form-control w-75 mx-auto rounded shadow" id="password" placeholder="Mot de passe">
    </div>
    <button class="btn btn-secondary" routerLink="/projet">Se connecter</button>
  </form>
</div>
