<div class="container-fluid mx-0">
  <div class="row m-0">
    <div class="col-12">
      <img src="../../../assets/logo.png" width="400px" class="m-3">
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-2 offset-3">
      <a [routerLink]="['/client']">
        <div class="rounded-pill bg-dark border border-light text-light text-center mx-2">
          <h3 class="mb-0 pb-1">Clients</h3>
        </div>
      </a>
    </div>

    <div class="col-2">
      <a [routerLink]="['/projet']">
        <div class="rounded-pill bg-success border border-light text-light text-center mx-2">
          <h3 class="mb-0 pb-1">Projets</h3>
        </div>
      </a>
    </div>

    <div class="col-2">
      <div class="rounded-pill bg-dark border border-light text-light text-center mx-2">
        <h3 class="mb-0 pb-1">Configurations</h3>
      </div>
    </div>
  </div>

  <section class="row mx-5 ">
    <div class="col-2 bg-light border border-success mr-5 section text-center text-dark pt-2">

    </div>
    <div data-simplebar data-simplebar-auto-hide="false" class="col-9 border border-success bg-light ml-5 section text-center">
      <table class="w-100 mt-4">
        <tr>
          <th class="border border-dark border-1">
            Composant
          </th>
          <th class="border border-dark border-1">
            Quantité
          </th>
          <th class="border border-dark border-1">
            Prix unitaire
          </th>
          <th class="border border-dark border-1">
            Total
          </th>
        </tr>
        <tr>
          <td class="border border-dark border-1">
            Mur bois de chêne (10m*4m)
          </td>
          <td class="border border-dark border-1">
            7
          </td>
          <td class="border border-dark border-1">
            20 €
          </td>
          <td class="border border-dark border-1">
            140 €
          </td>
        </tr>
        <tr>
          <td>

          </td>
          <td>

          </td>
          <td class="border border-dark border-1 font-weight-bold">
            Total:
          </td>
          <td class="border border-dark border-1">
            140 €
          </td>
        </tr>
      </table>
    </div>
  </section>
</div>
